{% extends 'recipes/base.html' %}
{% block content %}
<h2 class="mb-4">Рецепты пользователя: {{ profile_user.username }}</h2>
{% if profile.avatar %}
  <img src="{{ profile.avatar.url }}" width="100" class="rounded-circle mb-3">
{% endif %}
<p>{{ profile.bio }}</p>
<ul class="list-group">
  {% for recipe in recipes %}
    <li class="list-group-item">
      <a href="{% url 'recipes:recipe_detail' recipe.id %}">{{ recipe.title }}</a>
    </li>
  {% empty %}
    <li class="list-group-item">Пока нет рецептов.</li>
  {% endfor %}
</ul>
{% endblock %}